<%- include('../../inc/head.ejs') %>
<%- include('../../inc/header.ejs') %>
<link rel="stylesheet" href="/css/jstree/style.min.css">
<section class="cate-wrapper wrapper">
  <div class="cate-wrap">
    <input type="text" name="search" placeholder="검색창" class="ml-2 mb-1">
    <div id="jstreeWrap"></div>
  </div>
  <div class="cate-form"></div>
</section>
<script src="/js/axios.min.js"></script>
<script src="/js/jstree.min.js"></script>
<script src="/js/<%= currents[1] %>/<%= currents[1] %>.js"></script>
<%- include('../../inc/foot.ejs') %>
